.productsWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.productWrapper{
    width: 400px;
    height: auto;
    margin: 30px;
    padding-bottom: 5px;
    border-radius: 18px;
    background-color: aliceblue;
}

.productAbout{
    padding: 0px 20px; 
}

.productTitle{
    font-size: 19px;
}

.link{
    text-decoration: none;
}

.productImage{
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    width: 400px;
    height: 400px;
    object-fit: cover;
}